<pm-users></pm-users>
<main>
    <form id="room" novalidate>
        <label for="rooms">
            <span>Room</span>
            <input 
                list="rooms"
                name="rooms"
                [(ngModel)]="form_rooms"
                (ngModelChange)="isNewRoom()">
        </label>
        <datalist id="rooms" name="rooms">
            <option *ngFor="let room of rooms" value="{{room.name}}">
        </datalist>
        <div *ngIf="newRoom">
            <button type="submit" id="new" (click)="submit(roomForm, 'new')">Create</button>
        </div>
        <div *ngIf="!newRoom">
            <button type="submit" id="remove" (click)="submit(roomForm, 'remove')"><img src="./../../../assets/delete.svg" width="50px"></button>
        </div>
    </form>
</main>

    