<pm-users></pm-users>
<div class='container'>
        <div class="row">
                <div class="col-md-8 col-md-offset-2">
                        <div class="window">
                                <div class="row">
                                        <div class="col-md-12">
                                                <form>
                                                        <div class="row">
                                                                <div class="col-md-12">
                                                                        <div class="in-text-input">Name</div>
                                                                        <input type="text" name="room-input" id="room-input" />
                                                                </div>

                                                                <div class="row">
                                                                        <div class="col-md-12" style="padding: 0 3rem; margin-top: 2rem;">
                                                                                <div class="in-text-input">Room</div>
                                                                                <img class="in-select-input" src="./images/dropdown-arrow.svg">
                                                                                <select>
                                                                                        <option value="volvo">Bloc opératoire</option>
                                                                                        <option value="saab">No 144</option>
                                                                                        <option value="opel">No 145</option>
                                                                                        <option value="audi">No 146</option>
                                                                                </select>
                                                                        </div>
                                                                </div>

                                                                <div class="row">
                                                                        <div class="col-md-9 col-md-offset-2">
                                                                                <div class="day" id="monday">
                                                                                        <span class="this-day">Monday</span>
                                                                                        <span class="select-time">8</span>
                                                                                        <span class="select-time is-active">9</span>
                                                                                        <span class="select-time">10</span>
                                                                                        <span class="select-time">11</span>
                                                                                        <span class="select-time">12</span>
                                                                                        <span class="select-time">13</span>
                                                                                        <span class="select-time">14</span>
                                                                                        <span class="select-time">15</span>
                                                                                        <span class="select-time">16</span>
                                                                                        <span class="select-time">17</span>
                                                                                </div>
                                                                        </div>
                                                                </div>

                                                                <div class="row">
                                                                        <div class="col-md-9 col-md-offset-2">
                                                                                <div class="day" id="tuesday">
                                                                                        <span class="this-day">Tuesday</span>
                                                                                        <span class="select-time">8</span>
                                                                                        <span class="select-time">9</span>
                                                                                        <span class="select-time">10</span>
                                                                                        <span class="select-time">11</span>
                                                                                        <span class="select-time is-active">12</span>
                                                                                        <span class="select-time is-active">13</span>
                                                                                        <span class="select-time is-active">14</span>
                                                                                        <span class="select-time">15</span>
                                                                                        <span class="select-time is-active">16</span>
                                                                                        <span class="select-time is-active">17</span>
                                                                                </div>
                                                                        </div>
                                                                </div>

                                                                <div class="row" hidden>
                                                                        <div class="col-md-12" style="margin-top: 1rem;">
                                                                                <input type="button" value="Create" style="background-color: #2ECC40"/>
                                                                        </div>
                                                                </div>

                                                                <div class="row">
                                                                        <div class="col-md-6" style="margin-top: 1rem;">
                                                                                <input type="button" value="Modify" style="background-color: #FFDC00"/>
                                                                        </div>
                                                                        <div class="col-md-6" style="margin-top: 1rem;">
                                                                                <input type="button" value="Remove" style="background-color: #FF4136"/>
                                                                        </div>
                                                                </div>

                                                        </div>
                                                </form>
                                        </div>
                                </div>
                        </div>

                </div>
        </div>
        <div class="row vertical-center">
                <div class="col-md-5 col-md-offset-4">
                        <button class="button-center" type="submit">Add</button>
                </div>
        </div>
</div>