<pm-users></pm-users>
<main>
    <form 
        id="doctor"
        novalidate
        #doctorForm="ngForm">
        <div class="fieldset" id="infos">
            <label for="name">
                <span>Name</span>
                <input 
                    id="name" 
                    name="name" 
                    type="text"
                    [(ngModel)]="form_name"
                    #nameVar="ngModel"
                    list="doctors"
                    (ngModelChange)="isNewUser()">
                <datalist id="doctors">
                    <option *ngFor="let doctor of doctors" value="{{doctor.name}}">
                </datalist>
            </label>
            <label for="rooms">
                <span>Room</span>
                <select id="rooms" name="rooms" form="doctor">
                    <option *ngFor="let room of rooms" value="{{room.id}}">{{room.name}}</option>
                </select>
            </label>
        </div>
        <div id="workweek">
            <div class="fieldset" *ngFor="let day of days" id="{{day}}">
                <span>{{day}}</span>
                <div class="working_hours">
                    <label *ngFor="let hour of range(openingHour, closingHour)" (click)="doSomething()">
                        <span>{{hour}}</span>
                        <input 
                            id="{{day}}_{{hour}}" 
                            name="{{day}}_{{hour}}" 
                            type="checkbox" 
                            class="checkbox"
                            [(ngModel)]="timeSlots[day][hour]"/>
                    </label>
                </div>
            </div>
        </div>
        <div class="fieldset" id="actions">
            <button *ngIf="newUser" type="submit">
                Create
            </button>
            <button *ngIf="!newUser" type="submit">
                Modify
            </button>
            <button type="submit">
                Remove
            </button>
        </div>
    </form>
</main>