<pm-users></pm-users>
<main>
	<header>
		<form id="customer">
			<label for="name" [ngClass]="{'has-error': customerSearchMessage}">
				<span>Client</span>
				<input id="name" name="name" type="search" [formControl]="searchField">
			</label>
			<ul class="search-result">
				<li *ngFor="let customer of customersSearchList | async" (click)="updateSearchField(customer.id)">
					{{customer.name}}
				</li>
			</ul>
			<span class="message-block" *ngIf="customerSearchMessage">
				{{customerSearchMessage}}
			</span>
			<label for="address">
				<span>Adresse</span>
				<input id="address" name="address" type="text" pattern="[A-Za-z\-]+[,][\s]?[0-9]+" [formControl]="address">
			</label>
			<label for="postal_code">
				<span>Code postal</span>
				<input id="postal_code" name="postal_code" type="text" pattern="[0-9]{4}" [formControl]="postalCode">
			</label>
			<label for="town">
				<span>Ville</span>
				<input id="town" name="town" type="text" [formControl]="town" pattern="[A-Za-z\-]{3,50}">
			</label>
			<label for="phone">
				<span>Téléphone</span>
				<input id="phone" name="phone" type="tel" pattern="[0-9]{9,10}" [formControl]="phone">
			</label>
			<button *ngIf="newCustomer" type="submit" id="newCustomer" (click)="submitCustomer('new')">
				Ajouter
			</button>
			<button *ngIf="!newCustomer" type="submit" id="modifyCustomer" (click)="submitCustomer('modify')">
				Modifier
			</button>
			<button *ngIf="!newCustomer" type="submit" id="removeCustomer" (click)="submitCustomer('remove')">
				Supprimer
			</button>
		</form>
	</header>
	<section>
		<ng-container *ngIf="currentPatients">
			<article *ngFor="let patient of currentPatients">
				<form id="patient_{{patient.id}}">
					<div>
						<label>
							<span>Nom:</span><input name="name" type="text" value="{{patient.name}}">
						</label>
						<label>
							<span>Type:</span>
							<select name="type">
								<option *ngFor="let type of animalTypes" value="{{type.id}}" [selected]="isPatientType(patient.id, type.id)">{{type.name}}</option>
							</select>
						</label>
						<label>
							<span>Race:</span>
							<select name="breed">
								<option *ngFor="let breed of breeds" value="{{breed.id}}" [selected]="isPatientBreed(patient.id, breed.id)">{{breed.name}}</option>
							</select>
						</label>
					</div>
					<div>
						<button type="submit" id="modifyPatient{{patient.id}}" (click)="submitPatient('modify', patient.id)">
							Modifier
						</button>
						<button type="submit" id="removePatient{{patient.id}}" (click)="submitPatient('remove', patient.id)">
							Supprimer
						</button>
					</div>
				</form>
			</article>
		</ng-container>
		<aside *ngIf="!newCustomer">
			<form id="patient">
				<div>
					<label>
						<span>Nom:</span><input name="name" type="text" value="Nom du patient">
					</label>
					<label>
						<span>Type:</span>
						<select name="type">
							<option *ngFor="let type of animalTypes" value="{{type.id}}">{{type.name}}</option>
						</select>
					</label>
					<label>
						<span>Race:</span>
						<select name="breed">
							<option *ngFor="let breed of breeds" value="{{breed.id}}">{{breed.name}}</option>
						</select>
					</label>
				</div>
				<button type="submit" id="newPatient" (click)="submitPatient('new', 0)">
					Ajouter un patient
				</button>
			</form>
		</aside>
	</section>
</main>