<pm-users></pm-users>
<form *ngIf="customer == null" [formGroup]="searchCustomerForm">
	<input list="customers" formControlName="customerSearchName" [ngClass]="{'has-error': customerSearchMessage}">
	<datalist id="customers">
		<option *ngFor="let customer of customers" value="{{customer.name}} #{{customer.id}}">
	</datalist>
	<span class="message-block" *ngIf="customerSearchMessage">
		{{customerSearchMessage}}
	</span>
	<button (click)="submitCustomer('new')">Add</button>
</form>
<section *ngIf="customer != null">
	<header>
		<input type="checkbox" name="edit" id="edit-customer" checked>
		<form id="customer" [formGroup]="updateCustomerForm">
			<div>
				<input name="name" type="text" value="{{customer.name}}" formControlName="customerUpdateName">
			</div>
			<span class="message-block" *ngIf="customerUpdateMessage">
				{{customerUpdateMessage}}
			</span>
			<div>
				<input class="button" type="submit" value="V" (click)="submitCustomer('modify')">
			<span class="button" id="delete-customer" (click)="submitCustomer('remove')">X</span>
		</div>
		</form>
	</header>
	<button (click)="customerChange()">customer change</button>
	<article *ngFor="let patient of patients" id="patient_{{patient.id}}">
		<input type="checkbox" name="edit" id="edit-patient-{{patient.id}}" checked>
		<form [formGroup]="updatePatientForm">
			<div>
				<label>
					<span>Nom:</span><input type="text" value="{{patient.name}}" formControlName="patientName">
				</label>
				<span class="message-block" *ngIf="patientNameMessage">
						{{patientNameMessage}}
					</span>
				<label>
					<span>Type:</span><select formControlName="patientType">
						<option *ngFor="let type of animalTypes" value="{{type.id}}">{{type.name}}</option>
					</select>
				</label>
				<span class="message-block" *ngIf="patientTypeMessage">
						{{patientTypeMessage}}
					</span>
				<label>
					<span>Race:</span><select formControlName="patientBreed">
						<option *ngFor="let breed of breeds" value="{{breed.id}}">{{breed.name}}</option>
					</select>
				</label>
				<span class="message-block" *ngIf="patientBreedMessage">
						{{patientBreedMessage}}
					</span>
			</div>
			<div>
				<input class="button" type="submit" value="V" (click)="submitPatient(patient.id, 'modify')">
				<span class="button" id="delete-patient-{{patient.id}}" (click)="submitPatient(patient.id, 'remove')">X</span>
			</div>
		</form>
	</article>
	<footer>
		<button (click)="addPatient()">Add patient</button>
	</footer>
</section>