<pm-users></pm-users>
<main>
	<header>
		<form id="customer">
			<label for="customerSearch" [ngClass]="{'has-error': customerSearchMessage}">
				<span>Client</span>
			</label>
			<input id="customerSearch" type="search" [formControl]="searchField">
			<ul class="search-result">
				<li *ngFor="let customer of customersSearchList | async" (click)="updateSearchField(customer.id)">
					{{customer.name}}
				</li>
			</ul>
			<h2 *ngIf="currentCustomer">{{currentCustomer.id}}:{{currentCustomer.name}}</h2>
			<span class="message-block" *ngIf="customerSearchMessage">
				{{customerSearchMessage}}
			</span>
			<button *ngIf="newCustomer" type="submit" id="newCustomer" (click)="submitCustomer('new')">
				Ajouter
			</button>
			<button *ngIf="!newCustomer" type="submit" id="modifyCustomer" (click)="submitCustomer('modify')">
				Modifier
			</button>
			<button *ngIf="!newCustomer" type="submit" id="removeCustomer" (click)="submitCustomer('remove')">
				Supprimer
			</button>
		</form>
	</header>
	<section>
		<ng-container *ngIf="currentPatients">
			<article *ngFor="let patient of currentPatients">
				<form id="patient_{{patient.id}}">
					<div>
						<label>
							<span>Nom:</span><input name="name" type="text" value="{{patient.name}}">
						</label>
						<label>
							<span>Type:</span>
							<select name="type">
								<ng-container *ngFor="let type of animalTypes">
									<option *ngIf="isPatientType(patient.id, type.id); else notSelectedType" value="{{type.id}}" selected>{{type.name}}</option>
									<ng-template #notSelectedType>
										<option value="{{type.id}}">{{type.name}}</option>
									</ng-template>
								</ng-container>
							</select>
						</label>
						<label>
							<span>Race:</span>
							<select name="breed">
								<option *ngFor="let breed of breeds" value="{{breed.id}}" [selected]="isPatientBreed(patient.id, breed.id)">{{breed.name}}</option>
							</select>
						</label>
					</div>
					<div>
						<button type="submit" id="modifyPatient{{patient.id}}" (click)="submitPatient('modify', patient.id)">
							Modifier
						</button>
						<button type="submit" id="removePatient{{patient.id}}" (click)="submitPatient('remove', patient.id)">
							Supprimer
						</button>
					</div>
				</form>
			</article>
		</ng-container>
		<aside *ngIf="!newCustomer">
			<form id="patient">
				<div>
					<label>
						<span>Nom:</span><input name="name" type="text" value="Nom du patient">
					</label>
					<label>
						<span>Type:</span>
						<select name="type">
							<option *ngFor="let type of animalTypes" value="{{type.id}}">{{type.name}}</option>
						</select>
					</label>
					<label>
						<span>Race:</span>
						<select name="breed">
							<option *ngFor="let breed of breeds" value="{{breed.id}}">{{breed.name}}</option>
						</select>
					</label>
				</div>
				<button type="submit" id="newPatient" (click)="submitPatient('new', 0)">
					Ajouter un patient
				</button>
			</form>
		</aside>
	</section>
</main>