.loginForm{
    width: 30%;
    margin: 0 auto;
    margin-top: 26%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 2%;
}
.input{
    width: 250px;
    margin-bottom: 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}