<form (ngSubmit)="submit(loginForm)" 
    novalidate
    #loginForm="ngForm">
    <div>
        <label for="login">Login : </label>
        <input type="text" 
        required 
        minlength="3"
        [(ngModel)]=user.login
        name="login"
        #loginVar="ngModel">
        <span *ngIf="(loginVar.touched || loginVar.dirty) && loginVar.errors">
            <span> Errors </span>
        </span>
    
    </div>
    <div>
        <label for="password">Password : </label>
        <input type="password" 
        [(ngModel)]=user.password
        name="password"
        #passwordVar="ngModel">
        <span *ngIf="(passwordVar.touched || passwordVar.dirty) && passwordVar.errors">
            <span> Errors </span>
        </span>
    
    </div>
    <input type="submit"
        [disabled]="!loginForm.valid">
    
</form>
<br><br><br>

<button (click)="callDoctor()">callDoctor</button>
<div *ngIf="doctor" innerHTML="{{doctor.name}}"></div>

<br>Dirty: {{ loginForm.dirty }} 
<br>Touched: {{ loginForm.touched }}
<br>Valid: {{ loginForm.valid }}
<br>Value: {{ loginForm.value | json }}
<br>Login : {{user.login}}
<br>Password : {{user.password}}