<header>
    <nav class='navbar navbar-default'>
        <ul class='nav navbar-nav'>
            <li class="btn"><a [routerLink]="['/users/doctors']" ><img class='logo' src='./../../../assets/doctor.svg' alt='doctor' >Doctors</a></li>
            <li class="btn"><a [routerLink]="['/users/clients']"><img class='logo' src='./../../../assets/customer.svg' alt='customer' >Clients</a></li>
            <li class="btn"><a [routerLink]="['/users/rooms']"><img class='logo' src='./../../../assets/room.svg' alt='room' >Rooms</a></li>
        </ul>
    </nav>
</header>