<nav *ngIf="token" class='navbar navbar-default'>
  <div class='container-fluid'>
      <ul class='nav navbar-nav'>
          <li class="btn"><a [routerLink]="['/users/doctors']" ><img class='logo' src='./../../../assets/doctor.svg' alt='doctor' >Doctors</a></li>
          <li class="btn"><a [routerLink]="['/users/clients']"><img class='logo' src='./../../../assets/customer.svg' alt='customer' >Clients</a></li>
          <li class="btn"><a [routerLink]="['/users/rooms']"><img class='logo' src='./../../../assets/room.svg' alt='room' >Rooms</a></li>
      </ul>
  </div>
</nav>

<div *ngIf="!token">
    <p>You are not authentificated. Please go to login page -> <a [routerLink]="['/login']"> here</a> .</p>
</div>