<div *ngIf="!token">
    <p>You are not authentificated. Please go to login page -> <a [routerLink]="['/login']"> here</a> .</p>
</div>
<div *ngIf="token" class="vetCal">
    <div class="vetCal-popup">
        <div class="vetCal-popup-background" (click)="$event.srcElement.parentNode.style.display='none'"></div>
        <form id="vetCal-appointment-form"  
            novalidate 
            #vetCalAppointmentForm="ngForm"
            (ngSubmit)="submit(vetCalAppointmentForm)">
            <h3></h3>
            <input type="hidden" name="date" value="">
            <label>
                Médecin:
                <select 
                    name="doctor" 
                    disabled
                    [(ngModel)]="form_doctor"
                    #doctor="ngModel">
                    <option *ngFor="let doctor of doctors" value="{{doctor.id}}">{{doctor.name}}</option>
                </select>
            </label>
            <label>
                Client:
                <input 
                    type="text" 
                    name="customer" 
                    list="customers" 
                    [(ngModel)]="form_customer"
                    #customer="ngModel"
                    (ngModelChange)="onCustomerChange()">
                <datalist id="customers">
                    <option *ngFor="let customer of customers" value="{{customer.name}} #{{customer.id}}">
                </datalist>
            </label>
            <label>
                Patient:
                <select 
                    name="patient"
                    [(ngModel)]="form_patient"
                    #patient="ngModel">
                    <option *ngFor="let patient of patients" value="{{patient.id}}">{{patient.name}}</option>
                </select>
            </label>
            <label>
                Salle:
                <select 
                    name="room"
                    [(ngModel)]="form_room"
                    #room="ngModel">
                    <option *ngFor="let room of rooms" value="{{room.id}}">{{room.name}}</option>
                </select>
            </label>
            <label>
                Type d'examen:
                <select 
                    name="type"
                    [(ngModel)]="form_exam"
                    #exam="ngModel">
                    <option *ngFor="let type of types" value="{{type.id}}">{{type.name}}</option>
                </select>
            </label>
            <input type="submit">
            <button (click)="removeAppointment()">Supprimer</button>
        </form>
    </div>
    <div class="vetCal-sidebar">
        <nav>
            <button (click)="changeView()">{{weekView ? "DayView" : "WeekView"}}</button>
            <button (click)="changeDate(false)">&lt;</button>
            <button (click)="today()">O</button>
            <button (click)="changeDate(true)">&gt;</button>
        </nav>
        <div class="vetCal-hours">
            <div *ngFor="let n of range(closingHour - openingHour)"
            [style.height.%]="100 / (closingHour - openingHour)"
            class="vetCal-background-container">
                <div class="vetCal-background" *ngFor="let i of range(4)">
                    {{ ("0" + (n + openingHour)).slice(-2) }} : {{ ("0" + 15 * i).slice(-2) }}
                </div>
            </div>
        </div>
    </div>
    <div class="vetCal-cal {{weekView ? 'week' : 'day'}}">
        <div *ngFor="let day of days" class="{{day.isToday ? 'today' : ''}}">
            <h3>{{dateToTitle(day.date)}}</h3>
            <div class="vetCal-table">
                <div *ngFor="let doctor of doctors">
                    <h4>{{doctor.name}}</h4>
                    <div class="vetCal-planning">
                        <div class="vetCal-appointment"
                            *ngFor="let appointment of day?.appointments | doctorId:doctor.id"
                            (click)="updateAppointment(appointment)"
							[style.background-color]="roomColors[appointment.roomId % roomColors.length][0]"
							[style.box-shadow]="'inset 4px 0 0' + roomColors[appointment.roomId % roomColors.length][1]"
							[style.color]="roomColors[appointment.roomId % roomColors.length][1]"
							[style.height.%]="100 * appointmentDurations[appointment.type] / (closingHour - openingHour)"
							[style.top.%]="100 * ((stringToDate(appointment.date).getHours() + (stringToDate(appointment.date).getMinutes() / 60)) - openingHour) / (closingHour - openingHour)">
                            {{roomNames[appointment.roomId]}}
                        </div>
                        <div *ngFor="let n of range(closingHour - openingHour)"
                            [style.height]="(100 / (closingHour - openingHour))+'%'"
                            class="vetCal-background-container">
                            <ng-container *ngIf="inSlot(doctor, day, n + openingHour)">
                                <div class="vetCal-background" *ngFor="let i of range(4)"
                                    (click)="createAppointment(doctor, day, n + openingHour, i)"></div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>