<div style="text-align:center">
  <h1>
    Welcome to {{pageTitle}}!!
  </h1>
</div>
<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <a class='navbar-brand'>{{pageTitle}}</a>
        <ul class='nav navbar-nav'>
            <li><a [routerLink]="['/home']">Home</a></li>
            <li><a [routerLink]="['/doctors']">Doctors</a></li>
            <li><a [routerLink]="['/clients']">Client</a></li>
            <li><a [routerLink]="['/rooms']">Rooms</a></li>
        </ul>
    </div>
</nav>
<div class='container'>
    <router-outlet></router-outlet>
</div>